.stack {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: var(--stack-bg-color);
  display: flex;
  flex-direction: column;
}

.stack > .row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.stack > .row.animateRowDrop {
  filter: saturate(0.3) brightness(10);
  transition: filter ease-in 0.4s;
}

.stack > .row > .block {
  flex-grow: 1;
}
