.board {
  width: 100%;
  height: 100%;
  position: relative;
  background: #111;
}

.board > .stack {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.board > .stack > .row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.board > .stack > .row.animateVanish {
  filter: saturate(0.3) brightness(10);
  transition: filter ease-in 0.4s;
}

.board > .stack > .row > .block {
  flex-grow: 1;
}
