.board {
  width: 100%;
  height: 100%;
  position: relative;
  background: #111;
}

.board > .backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.33);
}

.board .text {
  text-align: center;
  color: #ccc;
  position: absolute;
  top: 30%;
  width: 100%;
}

.board > .stack {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.board > .stack > .row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.board > .stack > .row > .block {
  flex-grow: 1;
}
