.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: var(--app-bg-color);
}

.app > .left.pane,
.app > .right.pane {
  flex-grow: 1;
}

.app > .middle.pane {
  /* Board size is 18x12, meaning an aspect ratio of 3x2 */
  width: calc(66.66vh);
  height: 100vh;
  max-height: 150vw;
  position: relative;
  border: solid Firebrick;
  --border-width: 4px;
}

@media (orientation: landscape) {
  .app > .middle.pane {
    border-width: 0 var(--border-width);
  }
}

@media (orientation: portrait) {
  .app > .middle.pane {
    border-width: var(--border-width) 0;
  }
}

@media (min-width: 768px) {
  .app {
    background: MidnightBlue;
  }

  .app > .middle.pane {
    /* Board size is 18x12, meaning an aspect ratio of 3x2 */
    width: 60vh;
    height: 90vh;
    border-width: var(--border-width);
  }
}

.app > .middle.pane > .backdrop {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.33);
}

.app > .middle.pane > .backdrop > .text {
  text-align: center;
  color: #ccc;
  position: absolute;
  top: 30%;
  width: 100%;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 0.75;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 0.75;
  }
}
