.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: MidnightBlue;
}

.app > .left.pane {
  flex-grow: 1;
}

.app > .middle.pane {
  /* Board size is 18x12, meaning an aspect ratio of 3x2 */
  width: 60vh;
  height: 90vh;
  border: solid 4px Firebrick;
}

.app > .right.pane {
  flex-grow: 1;
}
