@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h3 {
  font-size: 1.4rem;
}
